* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.countries {
    fill: #ffbf3c;
    stroke: #ffedc9;
    stroke-width: 0.5;
    cursor: pointer;
}

.country {
    stroke: #ffedc9;
    stroke-width: 0.5;
    cursor: pointer;
    opacity: 0.8;
}

.countries:hover {
    fill: black;
    stroke: black;
    width: 5px;
}

.country:hover {
    fill: black;
}


@media (min-width: 1200px){
    .col-xl-7 {
    flex: 0 0 auto;
    width: 75%;
    }
}