#my_dataviz {   
    fill: transparent;          
  }
  div.tooltip {   
    position: absolute;
    padding: 7px;
    font-size: 0.8em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  } 
  body {
    font-family: "Verdana", sans-serif;
  }
  
  #legend {
    font-size: 0.7em;
    letter-spacing: 0.1;
  }
  .world {
    transform-origin: center;
  }
